.product-card {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 !important;
  border-radius: 16px;
}
.product-card-img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.filter-col {
  padding: 0 !important;
}
.filter-container {
  box-sizing: border-box;
}
.filter-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}
.filter-select,
.filter-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

